<div class="container">
  <h1>
    Cohort Edit Page
  </h1>

  <p>
    Select the students below to custom sort, or use the options to manage the cohort.
  </p>

  <%= render partial: "cohort" %>





 </div>