<div class="container">

<h1>Happy Monday!</h1>

<table>
  <thead>
    <tr>
      <th>Your Groups:</th>
    </tr>
  </thead>

  <tbody>
    <% @cohorts.each do |cohort| %>
        <td><%= link_to "#{cohort.name} - #{cohort.location.try(:name)}", cohort_path(cohort) %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

</div>
