<div class="container">

<h1>Homepage: Cohorts Index</h1>

<h4>Cohort Name</h4>

<ul class="list-group">
<% @cohorts.each do |cohort| %>
  <li class="list-group-item"><%= link_to "#{cohort.name} - #{cohort.location.try(:name)}", cohort_path(cohort) %></li>
<% end %>
</ul>


</div>
