<div class="container">
  <title>
    Cohort Show Page Yo
  </title>

  <div>
      Welcome to the <%= Cohort.name %> Cohort!
  </div>

  <ul>
      <li>

      </li>
  </ul>

</div>
#reveal all of the students in the cohort
