<div class="container">
  <h1>
    Cohort Show Page Yo
  </h1>

  <p>
      Hello Student! Welcome to the <%= @cohort.location.name %> <%=@cohort.name %> Cohort! Here are the groups for Today:
  </p>

  <%= render partial: "cohort" %>


</div>

