<div class="container">
  <h1>
    Cohort Show Page Yo
  </h1>

  <h4>
      Welcome to the <%= @cohort.location%> <%=@cohort.name %> Cohort! Here are the groups for Today:
  </h4>


  <ul> <%= @cohort.students %>
      <li>

      </li>
  </ul>
pgs.students doesnt work
</div>

