<div class="container">

  <% if @user && @errors %>
      <ul>
        <% @errors.each do |error| %>
            <li><%= error %></li>
        <% end %>
      </ul>
  <% end %>


  <h2>Register</h2>
  <div class="signup">
    <form action="/users" method="post">

      <!-- this will appear after do something-->
      <label name="user[username]">Username: </label>
      <input type="text" name="user[username]">

      <%= erb :'/users/_name_signin' %>

      <input type="submit" value="Sign Up">
    </form>
  </div>
</div>