<div class="jumbotron text-center">
  <div class="container">
    <!--<span class="glyphicon glyphicon-cog" style="font-size: 6em"></span>-->
    <i class="icon-cogs" style="font-size: 6em"></i>
    <!--<a href="/" class="lang-logo">-->
      <!--<img src="<%= asset_path('lang-logo.png') %>">-->
    <!--</a>-->
    <h1>The Asset Pipeline</h1>
    <p><strong>a.k.a. Sprockets Rails Gem</strong><br>The asset pipeline is technically no longer a core feature of Rails 4, it has been extracted out of the framework into the <a target="_blank" href="https://github.com/rails/sprockets-rails">sprockets-rails gem.</a></p>
    <a id="dbc" class="btn btn-lg btn-default" href=""><span class="glyphicon glyphicon-flash"></span> Touch My Monkey</a>
    <!--<a type="button" class="btn btn-lg btn-primary" href="https://github.com/heroku/ruby-getting-started"><span class="glyphicon glyphicon-download"></span> Source on GitHub</a>-->
  </div>
</div>
<div class="container">
  <!--<div class="alert alert-info text-center" role="alert">-->
    <!--To deploy your own copy, and learn the fundamentals of the Heroku platform, head over to the <a href="https://devcenter.heroku.com/articles/getting-started-with-ruby" class="alert-link">Getting Started with Ruby on Heroku</a> tutorial.-->
  <!--</div>-->
  <!--<hr>-->
  <div class="row">
    <div class="col-md-6">
      <h3><span class="glyphicon glyphicon-link"></span> Main Features</h3>
      <ul class="bigboy">
        <li>The first feature of the pipeline is to concatenate assets, which can reduce the number of requests that a browser makes to render a web page.</li>
        <li>The second feature of the asset pipeline is asset minification or compression.</li>
        <li>The third feature of the asset pipeline is it allows coding assets via a higher-level language, with precompilation down to the actual assets. Supported languages include Sass for CSS, CoffeeScript for JavaScript, and ERB for both by default.</li>
      </ul>
    </div>
    <div class="col-md-6">
      <h3><span class="glyphicon glyphicon-link"></span> Demo Compress and Concat</h3>
      <ul class="bigboy">
        <li>Environment settings are located in <code>/config/environments/production.rb</code> (i.e. production settings)</li>
        <li>Make changes to files in <code>/app/assets/javascripts</code> or <code>/app/assets/stylesheets</code></li>
        <li>Add or uncomment settings and visually see js and css compression</li>
        <li>View files in <code>/public/assets</code></li>
      </ul>
    </div>
  </div> <!-- row -->
  <div class="row">
    <div class="col-md-12 text-center">
      <br><br>
      <a class="btn btn-lg btn-danger" target="_blank" href="https://www.youtube.com/watch?v=dQw4w9WgXcQ&feature=youtu.be"><span class="glyphicon glyphicon-"></span> Danny Don't Click This</a>
      <br><br>
    </div>
  </div>
   <!--<div class="alert alert-info text-center" role="alert">-->
    <!--Please do work through the Getting Started guide, even if you do know how to build such an application.  The guide covers the basics of working with Heroku, and will familiarize you with all the concepts you need in order to build and deploy your own apps.-->
  <!--</div>-->
</div>
