$brand-primary: #532F8C;
//$brand-primary: #00bfc6;
$brand-language: #B01302;

.jumbotron {
  background: $brand-primary;
  color: white;
  padding-bottom: 80px;

  .btn-primary {
    background: lighten($brand-primary, 20%);
    border-color: lighten($brand-primary, 20%);
    &:hover {
      background: lighten($brand-primary, 15%);
    }
  }

  p {
    color: lighten($brand-primary, 50%);
    max-width: 75%;
    margin: 1em auto 2em;
  }

  .navbar + & {
    margin-top: -20px;
  }

  .lang-logo {
    display: block;
    background: $brand-language;
    border-radius: 50%;
    overflow: hidden;
    width: 100px;
    height: 100px;
    margin: auto;
    border: 2px solid white;
    img {
      max-width: 100%;
    }
  }

}


.admin-home {
  h4 {
    margin: 5px 0;
    padding: 5px ;
    background-color: #efefef;
  }
  .admin-list, .admin-new {
    //width: 45%;
    //height: 100%;
    //float: left;
    margin: 10px 0;
    padding: 10px 0;
  }
  .admin-new {
    //border-left: 2px solid #ccc;
    //padding-left: 40px;

  }

}

.nav{
 background-color: black;
}

.nav-list{
      list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: black;
}

.link {
    float: left;
}

.navbar-link{
  display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.cohort-show{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: baseline;
}

.title{
    margin-top: 1em;
    border: 2px solid black;
    border-radius: 5px;
    text-align: center;
}

.item{
    margin-top: 1em;
    text-align: center;
    padding: .5em;
}

.button{

}
